.pageTitle{
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    align-content: center;
}
.container1 {
    margin-top: 10%;
    margin-left: 40%;
}
.container2 {
    margin-left: 45%;
}
.container3 {
    margin-left: 30%;
}

title-divider{
    margin-top: 1rem;
margin-bottom: 1rem;
}

.marketing .col-lg-6 {
    text-align: center;
}

.featurette-divider {
    margin: 5rem 0;
}

.footer{
    bottom: 0;
}
.container-fluid {
    padding: 0px;
}

.footerText{
    color: white;
    padding:1%
} 

.toggle.ios,
    .toggle-on.ios,
    .toggle-off.ios {
      border-radius: 20px;
    }

    .toggle.ios .toggle-handle {
      border-radius: 20px;
    }
